    *{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* PAGINA PRINCIPAL*/

img{
    width:230px;
    height: 180px;
    border-radius: 10px;
}

h2{
    margin-left: 96px;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 700 ;
}

h3{
    font-weight: 700;
    padding-top: 6px;
}

.filtro-div{
    padding: 3%;
    border-radius: 15px;
    background-color: #2e2d2d;
    color: white;
}

.andar3, .andar5{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:15px;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.subtitulo{
    display: block;

}

.div-reservar{
    margin: 10px 5px;
    width: 17%;
    background-color: rgb(120, 4, 4);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.div-reservar img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.div-esquerda-principal {
    text-align: left ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.div-reservar .btn{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: 5px;
    border-style: none;
    font-weight: 400;
    transition: transform 0.3s;
}


/* ----- BUTTONS ----- */
.btn{
    transition: transform 1s ease;
}

.btn:hover{
    transform: scale(1.10); 
    color: black;
}

div p{
    line-height: 1.0;
}

.btn-login{
    background-color: #c30000;
    color: white;
}

.btn-login:hover{
    color: white;
    background-color: #8d0000;
}

/************* HEADER ****************/

/* Estilo do Header */
header {
    background-color: #333;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estilo da logo */
.logo-fatec{
    max-width: 100px;
    max-height: 60px;
    transition: transform 0.2s;
}
.logo-fatec:hover {
    transform: scale(1.10); 
}
/*CONFIG DAS NAV PILLS*/
.nav-link {
    color: rgb(255, 255, 255); 
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.4s ease, color 0.4s ease;
    padding: 6px 14px;
    margin-right: 8px;
}
/* Hover suave */
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.233); 
    color: white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
}
/* LINK ATIVO*/
.nav-pills .nav-link.active {
    background-color: #c30000; 
    color: white;
}


/* Responsividade */
@media (max-width: 500px) { /*abaixo de 500 */
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .header ul {
        flex-direction: column;
        gap: 10px;
    }
}



/******* FORMULÁRIOS **********/

/* Estilo geral do formulário */
form.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo dos labels */
form label {
    font-weight: 400;
    margin: 10px 0 5px;
    display: block;
    font-size: 1.1em;
}

/* Estilo dos campos de entrada */
form input[type="text"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    align-items: center;
    display: flex;
}


/* Estilo do botão*/
#reservar, #atualiza {
    background-color: rgb(120, 4, 4);
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 40%;
}

/* Efeito de hover no botão*/
#reservar:hover, #atualiza:hover {
    background-color:rgb(87, 1, 1);
}


/* Estilo do link "Voltar" */
form a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

/* Efeito de hover no link "Voltar" */
form a:hover {
    text-decoration: underline;
}

/* Ajuste para os campos de entrada apenas leitura */
form input[readonly] {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

/****** PAGINA LISTAGEM *********/

/* Estilo geral da tabela */
table {
    width: 75%;
    border-collapse: collapse;
    margin: 20px auto;
}

th {
    background-color: rgb(120, 4, 4);
    color: white;
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

td {
    background-color: #f4f4f4;
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Borda da tabela */
table, th, td {
    border: 1px solid #555;
}

tr:hover {
    background-color: #e0e0e0;
}

button#apagar {
    background-color: #dc3545;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

tbody button#apagar:hover {
    background-color: #c82333;
}

tbody #atualizar{
    background-color: #3e3b3b;
    color: white;
    padding: 8px 10px 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-bottom: 10px;

}

tbody #atualizar:hover{
    background-color: #2e2d2d;
}
/* LINK VOLTAR GERAL */
a.voltar {
    margin: 10px 20px 20px 30px;
    color: #007BFF;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

a.voltar:hover {
    text-decoration: underline;
}


/****** PAGINA SUCESSO ******/

h2 .sucesso{
    margin-top: 0;
    margin-bottom: 10px ; 
}

.sucesso{
    color: #015b0e;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5px;
}

.sucessop{
    text-align:left;
    font-weight: 500;
}

.divp{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin: 20px auto; 
    width: 300px; 
    padding: 10px;
    background-color: #f0f0f0; 
    border-radius: 10px;
}



/* AUDITORIO */

.dia {
  border-radius: 8px;
  height: 100px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.8rem;
  background-color: #a0a0a0;
  position: relative;
  z-index: 1;
  transition: transform 0.2s; 
}

/* Cores de status */
.dia.disponivel {
  background-color: #f0f0f0; 
  color: #333; 
}

.dia.indisponivel {
  background-color: #333; 
  cursor: not-allowed;
}

.dia.evento {
  background-color: #e74c3c; 
  cursor: pointer;
}

/* Efeito no hover */
.dia:hover {
  transform: translateY(-5px) scale(1.05); 
  font-weight: 700;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  z-index: 2;
}

.grid-mensal {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  gap: 15px;
}

/* Pop-up do evento */
.pop-up-evento {
  display: none; /* Inicia escondido */
  position: absolute;
  top: 105%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200px;
  z-index: 10;
  white-space: nowrap; /* Impede a quebra de linha em telas pequenas */
}

/* Regra para mostrar o pop-up no hover */
.dia.evento:hover .pop-up-evento {
  display: block;
}

.h2-aud{
    margin-left: 0;
}

.pop-up-evento h4{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #e74c3c;
}   

.pop-up-evento p {
    font-size: 1rem;
    margin: 0;
    padding: 0.2rem 0; 
    line-height: 1.4; 
}

.dia .conteudo-dia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.dia .conteudo-dia span {
    transition: transform 0.3s ease; /* Adiciona a transição para o movimento */
}

/* Estilo para o botão de solicitação */
.btn-solicitar-reserva {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute; 
  bottom: 10px; 
  opacity: 0; 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}


.dia.disponivel:hover .btn-solicitar-reserva {
  opacity: 1;
  transform: translateY(0);
}

.icone-solicitar {
  width: 40px; 
  height: 40px;
}

.dia.disponivel span {
    color: #333; 
}

.dia.disponivel:hover .conteudo-dia span {
    transform: translateY(-20px);
}

/* FORM DO AUDITORIO! */
/* Overlay e Efeito de Fundo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Cor de fundo escura com transparência */
    display: none; /* Começa escondido */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que fique acima de tudo */
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
}

.form-modal {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 90%;
    max-width: 500px;
}

.solicitacao-form h3 {
    text-align: center;
    color: #333;
    margin-bottom: 0.5rem;
}

.solicitacao-form p {
    text-align: center;
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #888;
    cursor: pointer;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #c0392b;
}


/*----- LOGIN -----*/
.form-box {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

.form-box img {
    width: auto;
    height: 80px;
    object-fit: contain;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-group{
    position: relative;
}

.styled-input {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    height: 3.5rem;
}

.floating-label {
    position: absolute;
    top: 1.2rem;
    left: 0.75rem;
    color: #6c757d;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.2s ease all;
}

.styled-input:focus + .floating-label,
.styled-input:not(:placeholder-shown) + .floating-label {
    top: -0.1rem;
    left: 0.75rem;
    font-size: .75rem;
    color: black;
}

#h1-login{
    font-size:36px;
    margin: 0;
    text-align: center;
}

/*-------------------*/