<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    </style>
    <title>Auditório</title>
  </head>
  <body>
    <div class="container-fluid px-0">
      <header
        class="d-flex justify-content-between align-items-center py-3 px-5 mb-4 border-bottom"
      >
        <a
          th:href="@{/}"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto"
        >
          <img
            class="logo-fatec"
            th:src="@{/img/logo-fatec-branco.png}"
            alt="Logo Fatec"
          />
          <img
            class="logo-cps"
            th:src="@{/img/Logo_CPS-01.png}"
            alt="Logo Centro Paula Souza"
          />
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              th:href="@{/}"
              class="nav-link"
              th:classappend="${activePage == 'principal'} ? ' active' : ''"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              th:href="@{/listagem}"
              class="nav-link"
              th:classappend="${activePage == 'listagem'} ? ' active' : ''"
              >Minhas Reservas</a
            >
          </li>
          <li class="nav-item">
            <a
              th:href="@{/auditorio}"
              class="nav-link"
              th:classappend="${activePage == 'auditorio'} ? ' active' : ''"
              >Auditório</a
            >
          </li>
          <li class="nav-item">
            <a
              th:href="@{/contato}"
              class="nav-link"
              th:classappend="${activePage == 'contato'} ? ' active' : ''"
              >Contato</a
            >
          </li>
          <li class="nav-item">
            <form th:action="@{/logout}" method="post" class="d-inline">
              <button type="submit" class="btn btn-outline-light" title="Sair">
                <i class="bi bi-box-arrow-right"></i>
              </button>
            </form>
          </li>
        </ul>
      </header>
    </div>
    <main class="container my-5">
      <div
        th:if="${mensagemSucesso}"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <p th:text="${mensagemSucesso}"></p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <h2 class="my-4 h2-aud">Programacao Mensal</h2>
      <div class="d-flex gap-3 flex-wrap my-4">
        <div class="dia semanal">Seg</div>
        <div class="dia semanal">Ter</div>
        <div class="dia semanal">Qua</div>
        <div class="dia semanal">Qui</div>
        <div class="dia semanal">Sex</div>
        <div class="dia semanal">Sab</div>
      </div>

      <div class="grid-mensal">
        <div
          th:each="dia : ${diasDoMes}"
          class="dia mensal"
          th:classappend="${dia.status == 'evento'} ? 'evento' : (${dia.status == 'indisponivel'} ? 'indisponivel' : 'disponivel')"
        >
          <div class="conteudo-dia">
            <span th:text="${dia.dia}"></span>

            <button
              th:if="${dia.status == 'disponivel'}"
              class="btn-solicitar-reserva"
            >
              <img
                th:src="@{/img/adicionar-evento.png}"
                alt="Solicitar Reserva"
                class="icone-solicitar"
              />
            </button>
          </div>
          <div th:if="${dia.status == 'evento'}" class="pop-up-evento">
            <h4>Detalhes do Evento</h4>
            <p>Apenas um evento de teste!</p>
            <p>Passe o mouse aqui para testar.</p>
          </div>
        </div>
      </div>
      <div class="legenda-cores my-4">
        <p>Legenda:</p>
        <div class="item-legenda">
          <div class="cor-legenda evento"></div>
          <span>Evento</span>
        </div>
        <div class="item-legenda">
          <div class="cor-legenda disponivel"></div>
          <span>Disponível</span>
        </div>
        <div class="item-legenda">
          <div class="cor-legenda indisponivel"></div>
          <span>Indisponível</span>
        </div>
      </div>
      <div id="overlay-reserva" class="overlay">
        <div class="form-modal">
          <div class="modal-content-inner">
            <form
              th:action="@{/auditorio/solicitar}"
              method="post"
              class="solicitacao-form"
            >
              <button type="button" id="fechar-form" class="btn-fechar">
                X
              </button>
              <h3>Solicitar Reserva de Auditório</h3>
              <p>
                Preencha os dados abaixo para enviar uma solicitação de reserva.
              </p>

              <div class="form-group">
                <label for="nomeRequisitor">Nome Completo do Requisitor:</label>
                <input
                  type="text"
                  id="nomeRequisitor"
                  name="nomeRequisitor"
                  required
                />
              </div>

              <div class="form-group">
                <label for="eventoProposto">Evento Proposto:</label>
                <input
                  type="text"
                  id="eventoProposto"
                  name="eventoProposto"
                  required
                />
              </div>

              <div class="form-group">
                <label for="dataEvento">Data:</label>
                <input type="text" id="dataEvento" name="dataEvento" readonly />
              </div>

              <div class="form-group">
                <label for="horaEvento">Hora:</label>
                <input type="time" id="horaEvento" name="horaEvento" required />
              </div>

              <button type="submit" class="btn-submit">
                Enviar Solicitação
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script th:src="@{/js/form-modal.js}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
